@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.back-button {
    display: inline-block;
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid #262626;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.01rem;
    color: #262626;
    transition: 0.3s all;
}

.back-button:hover {
    background: #262626;
    color: #ffffff;
}

.deck-page {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.deck-stats {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #a3a3a3;
    border-radius: 0.5rem;
    min-width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.deck-stat-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.deck-stat {
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
}

.deck-metric {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.deck-metric-title {
    text-transform: uppercase; 
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #404040;
}

.deck-metric-value {
    text-transform: uppercase; 
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.progress-bar {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.progress-bar .progress-bar-item:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

.progress-bar .progress-bar-item:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.progress-bar .progress-bar-item {
    display: inline-block;
    height: 10px;
    background: #e5e5e5;
}


.progress-bar .progress-bar-item.progress-bar-item--green {
    background: #22c55e;
}

.decks {
    display: flex;
    flex-flow: column nowrap;
}

.deck {
    text-decoration: none;
    display: inline-flex;
    flex-flow: column nowrap;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    width: 600px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: 0.3s all;
    color: inherit;
    border: 2px solid #262626;
}

.deck:not(.deck--large):hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.deck.deck--large {
    display: flex;
    width: max(50vw, 800px);
}

.deck.deck--green {
    border-color: #16a34a;
    background: #dcfce7;
}

.deck.deck--blue {
    border-color: #3b82f6;
    background: #e0f2fe;
}

.deck.deck--black {
    border-color: #292524;
    background: #f5f5f5;
}

.deck.deck--red {
    border-color: #dc2626;
    background: #fee2e2;
}

.deck.deck--white {
    border-color: #fde68a;
    background: #fffbd5
}

.deck.deck--green .colored-text {
    color: #16a34a;
}

.deck.deck--blue .colored-text {
    color: #3b82f6;
}

.deck.deck--black .colored-text {
    color: #292524;
}

.deck.deck--red .colored-text {
    color: #dc2626;
}

.deck.deck--white .colored-text {
    color: #fde68a;
}

.deck .deck-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.deck .deck-header .deck-info {
    display: flex;
    flex-flow: column nowrap;
}

.deck .deck-header .deck-info .deck-name {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #27272a
}

.deck .deck-header .deck-info .deck-format {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.deck .mana {
    width: 1rem;
    height: 1rem;
    background-size: cover;
}

.deck .mana.mana--large {
    width: 3rem;
    height: 3rem;
}

.deck .mana.mana--green {
    background: url("../img/g.svg");
    background-size: cover;
}

.deck .mana.mana--blue {
    background: url("../img/u.svg");
}

.deck .mana.mana--blue {
    background: url("../img/b.svg");
}

.deck .mana.mana--red {
    background: url("../img/r.svg");
}

.deck .mana.mana--white {
    background: url("../img/w.svg");
}

.deck .mana.mana--colorless {
    background: #cccccc;
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
}

.deck .deck-rarity {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    padding: 1rem 0;
}

.deck .deck-rarity div {
    font-size: 1rem;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.deck .deck-rarity .deck-rarity--common {
    background: #000000;
    color: #ffffff;
}

.deck .deck-rarity .deck-rarity--uncommon {
    background: #d4d4d4;
    color: #18181b;
}

.deck .deck-rarity .deck-rarity--rare {
    background: #facc15;
    color: #18181b;
}

.deck .deck-rarity .deck-rarity--mythic {
    background: #c2410c;
    color: #ffffff;
}

.deck .deck-cards .deck-card {
    padding: 0.5rem;
    border: 1px solid #dddddd;
    border-bottom: none;
    background: #ffffff;
}

.deck .deck-cards .deck-card .card-top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.deck .deck-cards .deck-card:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.deck .deck-cards .deck-card:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom: 1px solid #dddddd;
}

.deck .deck-card .card-top .card-name {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #404040;
}

.deck .deck-card .card-top .card-count {
    width: 2rem;
    font-family: monospace;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5rem;
}

.deck .deck-card .card-top .card-cost {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: 0.1rem;
}

.deck .deck-card .card-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    height: 0;
    padding-left: 2.5rem;
    transition: 0.3s all;
}

.deck .deck-card:hover .card-details {
    height: 200px;
    padding: 1rem 1rem 1rem 4rem;
}

.deck .deck-card:hover {
    background: #f4f4f5;
}

.deck .deck-card .card-details .card-image {
    width: 200px;
    border-radius: 1rem;
}

.deck .deck-card .card-details .card-information {
    display: flex;
    flex-flow: column nowrap;
}

.deck .deck-card .card-details .card-information .card-text {
    font-family: sans-serif;
    font-size: 0.8rem;
    padding-right: 1rem;
    margin: 1rem 0;
}

.deck .deck-card .card-details .card-information .card-subtype {
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.75;
}

.deck .deck-card .card-details .card-information .card-creature {
    display: inline-block;
    align-self: flex-start;
    color: #18181b;
    border: 2px solid #18181b;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.version-link {
    display: block;
    margin: 1rem;
    font-family: monospace;
    text-decoration: none;
    color: inherit;
}

.version-link:hover {
    color: #0000ff;
    text-decoration: underline;
}